<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Library Manager</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome/css/all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form-style1.css') }}">
	<style>
	</style>
</head>
<body>
	<div id="app">
		
		<div class="sidenav">
			<a href="/">Books</a>
			<a href="/new-book">New Book</a>
			{% if book is defined %}
				<meta id="book-id" data-content="{{ book }}">
				<a href="/edit-book/{{ book }}">Edit Book</a>
			{% endif %}
		</div>
		<div class="container">
			<div class="row">
				<div class="register">
					<h2>Bookforms</h2>
					<small>Write a book one chapter at a time.</small>
					<br><br>

					<form action="/update-book" method="post" data-bind="with: book">

						<label for="title-input">Title</label><br>
						<input id="title-input" type="text" name="title" data-bind="textInput: title"><br>
						<label for="author-input">Author</label><br>
						<input id="author-input" type="text" name="author" data-bind="textInput: author"><br>
						<label for="description-input">Description</label><br>
						<textarea id="description-input" name="description" data-bind="textInput: description"></textarea>
						<label for="content-input">Content</label><br>
						<textarea id="content-input" name="content" data-bind="textInput: content"></textarea>
						<br>
						<div style="text-align: right;">
							<button type="button" class="btn1" data-bind="click: $root.exportPDF">Export PDF</button>
							<button type="button" id="save-btn" data-bind="click: updateBook">Save</button>
						</div>

					</form>
					

				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">

		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easy.js') }}"></script>
	<script>

		function AppModelView() {
			var self = this;
			self.book = ko.observable();

			self.BookModel = function(b) {
				var bm = this;
				bm.id = ko.observable(b.id);
				bm.title = ko.observable(b.title);
				bm.author = ko.observable(b.author);
				bm.description = ko.observable(b.description);
				bm.content = ko.observable(b.content);

				bm.init = function() {

				}

				bm.updateBook = function() {
					var chapters = [];
					$.post("/update-book", { 
						"id": bm.id(),
						"title": bm.title(),
						"author": bm.author(),
						"description": bm.description(),
						"content": bm.content(),
					})
					.done(function(data) {
						alert("The book information has been updated.");
					});
				}

				bm.init();
			}

			self.exportPDF = function() {
				var doc = new jsPDF()

				doc.setFontSize(24);
				doc.text(self.book().title(), 10, 10);

				doc.setFontSize(14);
				doc.setFontType("italic");
				doc.text(self.book().author(), 10, 20);

				doc.setFontSize(18);
				doc.setFontType("bold");
				doc.text("Description:", 10, 30);
				doc.setFontSize(14);
				doc.setFontType("normal");
				doc.text(self.book().description(), 10, 40);

				var y = 50;
				doc.setFontSize(14);
				doc.setFontType("normal");
				doc.text(self.book().content(), 10, y);
				
				doc.save(self.book().title() + '.pdf')
			}

			self.init = function() {
				$.getJSON("/get-book", {id: $('#book-id').data().content})
				.done(function(data) {
					self.book(new self.BookModel(data));
				});
			}
			self.init();
		}

		ko.applyBindings(new AppModelView(), document.getElementById("app"));
	</script>
</body>
</html>